<div id="content">
    <div class="crumbs">
        <ul class="breadcrumbs" itemscope="" itemtype="">
            <li class="breadcrumbs-item" itemprop="" itemscope="" itemtype="">
                <a class="breadcrumbs-link" itemscope="" itemtype="" itemprop="" href="{{ Url.home() }}"><span itemprop="">EROLIFE</span></a>
                <meta itemprop="" content="1">
            </li>
            <li class="breadcrumbs-item" itemprop="" itemscope="" itemtype="">
                <a class="breadcrumbs-link" itemscope="" itemtype="" itemprop="" disabled><span itemprop="">Войти</span></a>
                <meta itemprop="" content="2">
            </li>

        </ul>
    </div>
    <h1 class="h1">Войти</h1>
    <form id="form-registration" class="form-sign" action>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Пароль" required>

        <input class="next" type="submit" value="Войти">
    </form>
</div>