<div id="content">
    <div class="crumbs">
        <ul class="breadcrumbs" itemscope="" itemtype="">
            <li class="breadcrumbs-item" itemprop="itemListElement" itemscope="" itemtype="">
                <a class="breadcrumbs-link" itemscope="" itemtype="" itemprop="item" href="/"><span itemprop="name">EROLIFE</span></a>
                <meta itemprop="position" content="1">
            </li>
            <li class="breadcrumbs-item" itemprop="itemListElement" itemscope="" itemtype="">
                <a class="breadcrumbs-link" itemscope="" itemtype="" itemprop="item" href=""><span itemprop="name">Прошлая страница</span></a>
                <meta itemprop="position" content="2">
            </li>
            <li class="breadcrumbs-item" itemprop="itemListElement" itemscope="" itemtype="">
                <a class="breadcrumbs-link" itemscope="" itemtype="" itemprop="item" href=""><span itemprop="name">Следующая страница</span></a>
                <meta itemprop="position" content="3">
            </li>
        </ul>
    </div>
    <h1 class="h1">Нету товаров для сравнения</h1>
</div>